@value makerWhite, makerWheat,makerLightGrey from "../../common/colors.css";

.card-preview {
  height: 250px;
  display: flex;
  font-style: normal;
  padding: 2em;
  margin-bottom: 1em;
  box-shadow: 10px 10px 10px -4px makerLightGrey;
  border-radius: 15px;
}

.card-preview img {
  margin-right: 2em;
  min-width: 0;
  width: 50%;
}

.card-data {
  width: 100%;
}

.card-data h2 {
  font-size: 1rem;
  font-weight: 400;
}

.card-data p {
  margin: 0.5em 0;
}

.card-data hr {
  border-color: makerWheat;
}
