@value makerWhite, makerGreen from "../../common/colors.css";

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: makerGreen;
  padding: 1em 0;
  height: 20%;
}

.title {
  color: makerWhite;
  font-size: 2.5rem;
  margin: 0;
}
